body{
    text-align: center;
    background-color: #646B63;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 15px;
    border: 10px solid black;
    margin: 2.5rem;
}

.btncontainer{
    display: flex;
    justify-content: center;
}
.green{
    background-color: lightseagreen;
}
.red{
    background-color: #D95030;
}
.purple{
    background-color: lightskyblue ;
}
.yellow{
    background-color: #FFA420;

}
.flash{
    background-color: white;
}
.userflash{
    background-color: lawngreen;
}
